body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(209, 209, 209);
    background-image: url("../images/mainbg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
}

#sitetitle {
    text-align: center;
}

#filter {
    text-align: center;
}
#filter .setValue {
    font-weight: bold;
    width: 32px;
    background-color: lightcyan;
    border: none;
    border-radius: 5px;
}
#filter #filterDifficultyValue {
    text-align: center;
}

#cards {
    width: 90%;
    max-width: 1600px;
    margin: 25px auto auto auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
    position: relative;
    text-align: center;
}
#cards a {
    text-decoration: none;
}
.card {
    text-align: center;
    cursor: pointer;
}
.card img {
    width: 200px;
}
.card h3 {
    color: rgb(209, 209, 209);
}
.card h4 {
    margin-top: -20px;
    color: rgb(160, 160, 160);
}
.card p {
    margin-top: -20px;
    color: rgb(141, 141, 141);
}
.inrotation h3, #countOfTracks {
    color: rgb(255, 186, 57);
}

#loadMoreBtn {
    padding: .7rem 2rem;
    background: royalblue;
    border: none;
    color: #FFF;
    margin: 20px auto;
    display: block;
    font-size: 1.1rem;
    cursor: pointer;
    outline: none;
}


@media only screen and (max-width: 800px) {
    .card {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: left;
    }
    .card img {
        width: 64px;
        height: 64px;
        margin: 5px;
    }
    #cards {
        text-align: left;
        gap: 0px;
    }
}

@media only screen and (min-width: 600px) {
    #cards {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 800px) {
    #cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card h3 {
        margin-top: -5px;
    }
}
@media only screen and (min-width: 1000px) {
    #cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 1200px) {
    #cards {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 1400px) {
    #cards {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 1600px) {
    #cards {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}


#mainDiv {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: fixed;
    margin: 0;
    display: none;
    animation: fadeIn .4s;
    margin-top: -220.78px;
}



/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: #6840B7;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1D246A; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #091274; 
}